<div class="container-fluid">
  <div class="row">
    <div class="col g-0">
      <div class="bg-image"></div>

      <div class="contenedorTituloPrincipal">
        <img src="/images/logo.png" class="logo" />
        <h2 class="tituloPrincipal">burguers a la parriilla</h2>
        <div
          class="btns d-flex flex-wrap gap-3 justify-content-center flex-row mt-3"
        >
          <a href="/api/products" class="btn btn-success me-3">
            ir a ENDPOINT /api/products</a>
          <a href="/api/carts" class="btn btn-success me-3">
            ir a ENDPOINT /api/carts</a>
          <a href="/products" class="btn btn-primary me-3">
            ir a PLANTILLA /products</a>
          <a href="/cart/6493733f204cb1967cd9e521" class="btn btn-primary me-3">
            ir a PLANTILLA /cart</a>
          <a href="/products-admin" class="btn btn-primary ms-3">
            ir a PLANTILLA /products-admin</a>
          <a href="/test-chat" class="btn btn-primary ms-3">
            ir a PLANTILLA /test-chat</a>
        </div>
      </div>
    </div>
  </div>
</div>